@import 'tailwindcss';

@layer utilities {
  #pixel-perfect-root .rounded {
    border-radius: 4px;
  }
}

#pixel-perfect-root {
  font-size: 16px;
  line-height: 1.5;
  font-family:
    ui-sans-serif,
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    Roboto,
    'Helvetica Neue',
    Arial,
    'Noto Sans',
    sans-serif,
    'Apple Color Emoji',
    'Segoe UI Emoji',
    'Segoe UI Symbol',
    'Noto Color Emoji';

  all: initial;

  box-sizing: border-box;

  display: block;
  position: static;

  animation: none;
  transition: none;
  transform: none;

  --spacing: 4px;
  --text-xs: 12px;
  --text-xs--line-height: 16px;
  --text-sm: 14px;
  --text-sm--line-height: 20px;
  --text-base: 16px;
  --text-base--line-height: 24px;
  --text-lg: 18px;
  --text-lg--line-height: 28px;
  --text-xl: 20px;
  --text-xl--line-height: 28px;
  --text-2xl: 24px;
  --text-2xl--line-height: 32px;

  --color-background: #ffffff;
  --color-foreground: #0f172a;
  --color-card: #ffffff;
  --color-card-foreground: #0f172a;
  --color-popover: #ffffff;
  --color-popover-foreground: #0f172a;
  --color-primary: #3b82f6;
  --color-primary-foreground: #f8fafc;
  --color-secondary: #f1f5f9;
  --color-secondary-foreground: #0f172a;
  --color-muted: #f1f5f9;
  --color-muted-foreground: #64748b;
  --color-accent: #f1f5f9;
  --color-accent-foreground: #0f172a;
  --color-destructive: #ef4444;
  --color-destructive-foreground: #f8fafc;
  --color-border: #e2e8f0;
  --color-input: #e2e8f0;
  --color-ring: #3b82f6;
  --radius-none: 0px;
  --radius-sm: 2px;
  --radius: 4px;
  --radius-md: 6px;
  --radius-lg: 8px;
  --radius-xl: 12px;
  --radius-2xl: 16px;
  --radius-3xl: 24px;
  --radius-full: 9999px;

  --tw-shadow: 0 0 0 0 transparent;
  --tw-shadow-color: rgba(0, 0, 0, 0.1);
  --tw-shadow-colored: 0 0 0 0 transparent;
  --tw-inset-shadow: 0 0 0 0 transparent;
  --tw-inset-ring-shadow: 0 0 0 0 transparent;
  --tw-ring-offset-shadow: 0 0 0 0 transparent;
  --tw-ring-shadow: 0 0 0 0 transparent;
}

@media (prefers-color-scheme: dark) {
  #pixel-perfect-root {
    --color-background: #020617;
    --color-foreground: #f8fafc;
    --color-card: #020617;
    --color-card-foreground: #f8fafc;
    --color-popover: #020617;
    --color-popover-foreground: #f8fafc;
    --color-primary: #60a5fa;
    --color-primary-foreground: #020617;
    --color-secondary: #1e293b;
    --color-secondary-foreground: #f8fafc;
    --color-muted: #1e293b;
    --color-muted-foreground: #94a3b8;
    --color-accent: #1e293b;
    --color-accent-foreground: #f8fafc;
    --color-destructive: #7f1d1d;
    --color-destructive-foreground: #f8fafc;
    --color-border: #1e293b;
    --color-input: #1e293b;
    --color-ring: #94a3b8;

    --tw-shadow-color: rgba(0, 0, 0, 0.3);
  }
}
